/*Introduction to Kalkulator BMI (Top banner)*/
#BMI {
    width: 1700px;
    height: 300px;
    opacity: 20%;
    position: fixed;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    outline: none;
    text-decoration: none;
}
#Kalkulator-BMI {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
#penjelasan-Kalkulator-BMI {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.div-2 {
   position:relative;
    top: 235px;
}